.darkmode .talk-bubble{
	border-radius: 30px;
}

.darkmode .tri-right.left-top:after, .darkmode .tri-right.right-top:after{
	border: 18px solid;
}

.darkmode .message-content .menu .new-message-btn{
	text-shadow: 2px 2px 3px white;
}
.talktext img, .darkmode.message-content .menu .new-message-btn {
	border-radius: 20px;
}

#input-textarea {
	border-radius: 40px;
}

.menu .profile .user-name > div > div, .mf, .talktext p, .message-content .pm-list .pm .info-1 .date, .message-content .pm-list .pm .info-2 .subject, .darkmode .usermarkup {
	font-family: Open Sans Hebrew;
}

.darkmode body.darkmode > .menu{
	background-color: black;
}
