.darkmode .talk-bubble{
  border-radius: 30px;
}

.darkmode .tri-right.left-top:after, .darkmode .tri-right.right-top:after{
  border: 18px solid;
}

#input-textarea {
	border-radius: 40px;
}

.talktext p {
	font-family: Open Sans Hebrew;
}
