.darkmode .talk-bubble{
	border-radius: 30px;
}

.darkmode .tri-right.left-top:after, .darkmode .tri-right.right-top:after{
	border: 18px solid;
}

.talktext img {
	border-radius: 20px;
}

#input-textarea {
	border-radius: 40px;
}

.talktext p, .message-content .pm-list .pm .info-1 .date, .message-content .pm-list .pm .info-2 .subject, .darkmode .usermarkup {
	font-family: Open Sans Hebrew;
}
