body.darkmode {
	background-image: url("https://wallpaperaccess.com/full/2109.jpg");
}
.darkmode .divmainfave {
	background-color: #32323200;
}
.darkmode #breadcrumb {
	background: transparent;

}
.darkmode .cke_skin_kama .cke_toolgroup {
	background: linear-gradient(to top, #ffffff, #7f878a);
}
.darkmode body, body.content {
	color: white;
	background-color: #383838;
}

.darkmode .loading, .darkmode #sidebar_container.member_summary, .darkmode .avatar .avatarcontainer {
	border-radius: 20px;
}

.darkmode #sidebar_container .userprof_content .blockrow {
	border-radius: 15px;
}

.darkmode .modal {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 40px;	
	border-top-left-radius: 40px;

	background-color: rgba(0, 0, 0, 0);
}

.darkmode .modal-body .cropper img {
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
}
