body.darkmode {
	background-image: url("https://wallpaperaccess.com/full/2109.jpg");
}
.darkmode .divmainfave {
	background-color: #32323200;
}
.darkmode #breadcrumb {
	background: transparent;

}
.darkmode .cke_skin_kama .cke_toolgroup {
	background: linear-gradient(to top, #ffffff, #7f878a);
}
.darkmode body, body.content {
	color: white;
	background-color: #383838;
}

.darkmode .loading, .darkmode #sidebar_container.member_summary, .darkmode .avatar .avatarcontainer {
	border-radius: 20px;
}
